        .wan {font-size: xx-large;}
        .ty {font-size: x-large;}
        .fru {font-size: large;}
        .me {font-weight: bold;}
        .meme {font-weight: bold; 
            font-style: italic;}
        .mem {font-style: italic;}